*{
    background-color:azure;
    
    text-align: center;
    text-decoration: wavy;
    
    color:red;
}

.Mission h1{
background-color: bisque;
color:blue;

}
.Vision h1{
    background-color: burlywood;
    color:blue;
}
